html, body{
  width: 150px;
  min-width: 150px;
}

html, body, span {
  background: transparent;
  box-sizing: border-box;
  color: #222426;
  cursor: default;
  display: flex;
  flex-direction: column;
  font: caption;
  margin: 0px;
  padding: 1px;
}

body * {
  box-sizing: border-box;
  text-align: start;
  font: caption;
  margin: 0px;
  white-space: nowrap;
}

input {
  margin-bottom: 1px;
}

input[type=checkbox] {
  position: relative;
  top: 1px;
  margin: 0;
}

label {
  display: inline-block;
}

form {
  display: flex;
  flex-direction: column;
}

fieldset {
  padding: 0.3em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  border: 0px solid transparent;
}

tr > td + td {
  border-left-width: 2em;
}
